body {
    background-color:cyan;
    display: contents center;
    text-align: center;
   }

    .donation {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;

        text-align: center;
      }

   
   label {
       display: block;
       font: 1rem 'Times New Roman', Times-New-Roman
       ;
   }
   
   input,
   label {
       margin: .4rem 0;
   }
   
   .container img{
       width: 10px;
   }
   .container img:nth-child(3n) {
       width:20%;
   }